
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #E0F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: left;
    margin-bottom: 20px;
}

.back-arrow { 
    text-decoration: none;
    color: #333;
    font-size: 1.5em;
} 


.header-image { /* Imagen */
    width: 100%;
    border-radius: 10px;
    
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 2px solid #B2EBF2;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: #E0F7FA;
}

input:focus {
    border-color: #00796B;
    outline: none;
}

button {
    background-color: #00796B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #004D40;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #00796B;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
